<app-navigation title='Profile'></app-navigation>
    <div class='profile-container'>
    <div class='content-container'>
        <mat-card class="example-card">
        <mat-card-header>
            
            <mat-card-title>Vyron Yepes Eligue</mat-card-title>
            <mat-card-subtitle>BSIT 3D</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <img class="profile_pic" src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.6435-9/143241601_2795007100815889_2324222089728397101_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFiJzbMk4I1OKiqZWfBmHqyDopOyNWDdakOik7I1YN1qS9hYSDFoufLQI5Zl0kQvGvHEGDczm_HRbe9IUxk4044&_nc_ohc=zwQEHtqpyqwAX-VARaU&tn=aD1AB3BEP45gUjzs&_nc_ht=scontent.fceb2-2.fna&oh=00_AT8hEL8-LsacxXeA246r8JdEmuSUcVsrFUhpZwdTCJvwog&oe=61F4577C" alt="Vyron Eligue" title="Vyron Eligue">
            <mat-list>
            <mat-list-item>
                
                <p>Name: Eastern Visayas State University - Main</p>
            </mat-list-item>

            <mat-list-item>
                
                <p>Course: BSIT</p>
            </mat-list-item>

            <mat-list-item>
                
                <p>Age: 21</p>
            </mat-list-item>

            <mat-list-item>
            
                <p>Address: Brgy.Licod Tanauan, Leyte</p>
            </mat-list-item>

            <mat-list-item>
               
                <p>Contact Number: 09983363950</p>
            </mat-list-item>

            </mat-list>
        </mat-card-content>
        </mat-card>
    </div>
    </div>